.header_row,
.section_row,
.news_row,
.footer_row,
.section3_row {
    margin: 0 auto;
}




/* 헤더 시작 */
header {
    padding: 90px 0 60px 0;
}

/* 로고와 네비영역 양쪽으로 정렬 */
.header_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* 이미지 색상 변경 */
/* https://codepen.io/sosuke/pen/Pjoqqp */
.header_main_logo img {
    filter: invert(17%) sepia(18%) saturate(6727%) hue-rotate(191deg) brightness(92%) contrast(104%);
}


.header_right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.header_right_subbar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* 서브 네비 스타일 적용 */
.sub_nav>ul {
    display: flex;
    flex-direction: row;
}

.sub_nav ul li a {
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
    text-transform: uppercase;
    color: #296ec5;
    letter-spacing: 1.2px;
    font-weight: bold;
}

.sub_nav ul li::after {
    width: 2px;
    height: 2px;
    content: "";
    background-color: #296ec5;
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
    margin-right: 15px;
}

.sub_nav ul li:nth-child(4)::after {
    display: none;
    content: normal;
}

/* 서브바 검색버튼 스타일 */
.header_right_subbar .search_btn {
    border: 1px solid #ddd;
    padding: 15px 18px;
    margin-left: 50px;
    font-size: 1em;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    color: #023e8a;
    font-weight: bold;
    background-color: #fff;
    z-index: 10;
    transition: background-color .3s linear;
}

.search_btn:hover {
    background-color: #efefef;
}

/* 서브바 셀렉트 버튼 스타일 */
.select_menu {
    width: 150px;
    margin-left: 10px;
}

.select_menu .select_btn {
    display: flex;
    padding: 15px 18px;
    margin-right: 2px;
    background: #00366c;
    font-size: 1em;
    font-weight: bold;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Lato', sans-serif;
    color: #fff;
    transition: color 0.3s;
}

.select_menu .select_btn:hover {
    color: #296ec5;
}

.select_btn.selectedopt {
    background: #ffffff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    color: #00366c;
}

.select_menu .options {
    z-index: 6;
    position: absolute;
    padding-bottom: 20px;
    background: #00366c;
    width: 148px;
    display: none;
}

.select_menu.active .options {
    display: block;
}

.select_menu .options .option {
    display: block;
    cursor: pointer;
    align-items: center;
    padding: 10px 18px 0px 18px;
    background: #00366c;
    transition: all 0.2s;
}

.select_menu .options .option::after {
    display: block;
    width: 100%;
    height: 1px;
    opacity: 0.5;
    margin-top: 10px;
    background-color: #ddd;
    content: "";
}

.select_menu .options .option:last-child::after {
    content: none;
}

.select_menu .options .option:hover .option_text {
    color: #296ec5;
}


.select_menu .option .option_text {
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: 'Noto Serif KR', serif;
    color: #fff;
}

/* 서브바 go버튼 스타일 */
.header_right_subbar .go_btn {
    border: 1px solid #ddd;
    padding: 15px 18px;
    font-size: .9em;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    background-color: #495057;
    color: #ffe;
    font-weight: bold;
    transition: all .3s;
}

.header_right_subbar .go_btn:hover {
    border: 1px solid #333;
    background-color: white;
    color: #00366c;
}

/* 메인 네비 스타일*/
.main_nav {
    margin-top: 19px;
}

.main_nav>ul {
    display: flex;
    flex-direction: row;
}


.main_nav ul>li>a {
    font-size: 1.5em;
    font-family: 'Noto Serif KR', serif;
    font-weight: 500;
    color: #023e8a;
}

.main_nav ul>li {
    padding: 10px 19px;
}

.main_nav_title:hover {
    border: 1px solid #ddd;
    border-left: 3px solid #00366c;
    border-bottom: none;
}

.main_nav_title:last-child {
    padding-right: 0;
}

.main_nav>ul ul {
    position: absolute;
    background-color: #fff;
    z-index: 5;
    text-align: left;
    padding: 15px 0;
    margin: 10px 0 0 -22px;
    display: none;
}

.main_nav>ul ul li a {
    padding-left: 10px;
}

.main_nav_title:hover>ul {
    display: block;
    border: 1px solid #ddd;
    border-left: 3px solid #00366c;
    border-top: none;
}

.main_nav>ul ul li {
    padding: 10px 10px 0 10px;
}

.main_nav>ul ul li::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #ddd;
    display: block;
    margin-top: 10px;
}

.main_nav>ul ul a {
    font-size: 1.3em;
    font-family: 'Noto Serif KR', serif;
    color: #023e8a;
}

.search_bar {
    margin-top: 60px;
    border: 1px solid #ddd;
    width: 100%;
    height: 75px;
    padding: 22px 30px;
}

.search_bar form {
    display: flex;
    flex-direction: row;
    height: 30px;
    justify-content: space-between;

}

.search_bar form input[type="text"] {
    border: none;
    height: 30px;
    width: 800px;
    transition: none;
    padding-left: 0;
    text-indent: 0;
}

.search_bar form input[type="text"]:focus {
    border: 2px solid #275dc5;
}

.search_bar form input[type="text"]::placeholder {
    font-size: 1.5em;
    font-family: 'Noto Serif KR', serif;
    color: black;
}

.search_bar form input[type="submit"] {
    text-indent: -9999em;
}

.search_bar form i {
    font-size: 2em;
    color: #023e8a;
}

.fa-solid.fa-x {
    display: none;
}


/* 헤더 끝 */

/* 바디 시작 */

/* 첫번째 섹션 */

.section1 {
    margin-top: -150px;
    transition: 0.5s;
}

.section1.active {
    margin-top: 0px;
}

.section_row {
    position: relative;
    display: block;
    background-color: #fff;
}

.bg_img {
    margin-left: 300px;
    margin-right: -110px;
    float: right;
    position: relative;
    background-repeat: no-repeat;
    background-image: url("../images/commencement2019.jpg");
}

.bg_gray {
    width: 600px;
    height: 510px;
    background: #f8f8f8;
    position: relative;
    margin-left: -100px;
}

.article_box {
    position: absolute;
}

.article_box h3 {
    text-transform: uppercase;
    font-size: 1.1em;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1.5px;
    font-weight: 600;
}

.article_box h3::after {
    width: 40px;
    height: 1px;
    content: "";
    background-color: #ddd;
    margin-top: 16px;
    display: block;
}

.article_box h2 {
    display: block;
    font-size: 2.8em;
    font-family: 'Noto Serif KR', serif;
    font-weight: 500;
    color: #023e8a;
    margin-top: 27px;
}

.article_box p {
    display: block;
    margin-top: 40px;
    font-size: 1.8em;
    font-family: 'Tajawal', sans-serif;
    line-height: 1.3;
    color: black;
}

.article_box button {
    display: block;
    width: 160px;
    font-size: 1.1em;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1.5px;
    font-weight: 600;
    border: 1px solid #ddd;
    padding: 15px 0;
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
    background-color: #f9f9fa;
    color: black;
    transition: background .3s;
}

.article_box button i {
    margin-left: 8px;
    font-size: .8em;
}

.article_box button:hover {
    background: #133466;
    color: #fff;
}

/* 두번째 섹션 */

.section2 {
    margin-bottom: 80px;
}

.news_row {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
}

.news_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.news_header h2 {
    font-size: 2.8em;
    font-family: 'Noto Serif KR', serif;
    color: #023e8a;
}

.news_explore {
    display: flex;
    flex-direction: row;
}

.news_explore_button {
    display: flex;
    flex-direction: row;
}

.news_explore p {
    font-size: 1.2em;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 50px;
    padding-right: 15px;
}

.news_btn {
    width: 100px;
    border-radius: 0;
    height: 50px;
    background: #ddd;
    margin-right: 7px;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
    line-height: 50px;
    color: black;
    transition: background .3s;
}

.newsBtn_text {
    margin-left: 20px;
}

.news_btn:hover {
    background: #f8f8f8;
}

.news_btn i {
    float: right;
    margin-right: 15px;
    line-height: 50px;
}

.news_menu .news_options {
    z-index: 6;
    position: absolute;
    padding-bottom: 20px;
    background: #f8f8f8;
    display: none;
}

.news_menu.active .news_options {
    display: block;
}

.news_menu.active .news_btn {
    background: #f8f8f8;
}

.news_menu .news_option {
    display: block;
    cursor: pointer;
    align-items: center;
    padding: 10px 18px 0px 18px;
    background: #f8f8f8;
    transition: all 0.2s;
    font-size: 1.3em;
}

.news_menu .news_options .news_option::after {
    display: block;
    width: 100%;
    height: 1px;
    opacity: 0.5;
    margin-top: 15px;
    background-color: #ccc;
    content: "";
}

.news_menu .news_options .news_option:last-child::after {
    content: none;
}

.news_menu .news_option .news_option_text {
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'Noto Serif KR', serif;
    color: #023e8a;
}

.news_explore button {
    padding: 0 15px;
    background: #023e8a;
    font-size: 1.2em;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    border: 1px solid #eee;
    color: #ffe;
    font-weight: bold;
    transition: background .3s;
}

.news_explore button:hover {
    background: #fff;
    color: #023e8a;
}

.news_body {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.news_article {
    display: flex;
    flex-direction: column;
}

.news_title {
    margin-top: 20px;
}

.news_title span {
    font-size: 2.2em;
    font-family: 'Noto Serif KR', serif;
    color: black;
    font-weight: 500;
}

.news_title span a:hover {
    color: #296ec5;
}

.news_list {
    width: 50%;
}

p.news_date {
    font-style: italic;
    font-size: 1.2em;
    padding-top: 10px;
    font-weight: lighter;
}


p.news_date::after {
    width: 45px;
    height: 1px;
    content: "";
    background-color: #ddd;
    margin-top: 16px;
    display: block;
}

.news_list_box {
    margin-top: 16px;
}

.news_list_box:first-child {
    margin-top: 0;
}

.news_list_box span {
    font-size: 1.5em;
    font-family: 'Noto Serif KR', serif;
    color: black;
    font-weight: 500;
}

.news_list_box span a:hover {
    color: #296ec5;
}



/* 세번째 섹션 */

.section3_title {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 100px;
}

.section3_title h2 {
    font-size: 2.6em;
    font-family: 'Noto Serif KR', serif;
    color: #023e8a;
}

.section3_title h3 {
    font-size: 1.2em;
    font-family: 'Lato', sans-serif;
    color: #296ec5;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    line-height: 2em;
}

.section3_row {
    padding: 0 20px;
}

.section3_bg_img {
    background-image: url("../images/dino-volcano-meteor_101381193-882.webp");
    box-shadow: inset 0 0 0 600px rgba(0, 0, 0, 0.6);
    width: 850px;
    height: 880px;
    position: absolute;
    margin-top: -50px;
    left: 45%;
    z-index: 2;
}

.section3_body {
    position: absolute;
    height: 1350px;
    width: 100%;
    background: #133466;
}

.section3_row {
    padding: 0 20px;
}

.section3_table {
    position: relative;
    top: 100px;
}

.section3_table td {
    position: relative;
    z-index: 5;
    background: #fff;
}

.section3_table tr:nth-child(1) td:nth-child(1) {
    background: #3c6cba;
}

.section3_table tr:nth-child(1) td:nth-child(2) {
    background-image: url("../images/berkeley_college.webp");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 150px rgba(0, 0, 0, 0.3);
}

.section3_table tr:nth-child(1) td:nth-child(3) {
    background: rgba(255, 255, 255, 0);
    background-repeat: no-repeat;
    background-size: cover;
}

.section3_table tr:nth-child(2) td:nth-child(2) {
    background-image: url("../images/saybrook_college_0.webp");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 150px rgba(112, 107, 101, 0.8);
}

.section3_table tr:nth-child(2) td:nth-child(1) {
    background-image: url("../images/cushing_center.webp");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 150px rgba(0, 0, 0, 0.3);
}

.section3_table tr:nth-child(3) td:nth-child(1) {
    background-image: url("../images/yale_center_for_british_art.webp");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 300px rgba(19, 52, 102, 0.8);
}

.section3_table tr:nth-child(3) td:nth-child(2) {
    background-image: url("../images/branford_college_courtyard-rev.webp");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 150px rgba(175, 89, 44, 0.8);
}

.section3_table tr:nth-child(3) td:nth-child(3) {
    background-image: url("../images/dsc_0232_30.webp");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 150px rgba(0, 0, 0, 0.3);
}

.section3_table tr:nth-child(4) td:nth-child(1) {
    background-image: url("../images/ynews-1-1y4a9409-882.webp");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 150px rgba(0, 0, 0, 0.3);
}

.section3_table tr:nth-child(4) td:nth-child(2) {
    background-image: url("../images/class_day.webp");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 150px rgba(99, 112, 55, 0.8);
}

.section3_table td a {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    width: 100%;
    height: 100%;
}

.table_topic_title {
    position: absolute;
    width: 80%;
    bottom: 0;
    margin-bottom: 15px;
    transition: margin-bottom .4s;
}

.table_topic_title h4 {
    margin-bottom: 15px;
    font-family: 'Noto Serif KR', serif;
    font-size: 20px;
    color: #fff;
    text-shadow: -1px -1px 2px #000, 1px 1px 2px #000, -1px -1px 1px rgba(0, 0, 0, 0.7), 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.table_topic_title h5 {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: -1px -1px 2px #000, 1px 1px 2px #000, -1px -1px 1px rgba(0, 0, 0, 0.7), 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.section3_table a:hover .table_topic_title {
    margin-bottom: 40px;
}

.section3_table a:focus {
    border: 2px solid #fff;
}

.table_topic {
    position: absolute;
    display: flex;
    top: 60px;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.section3_table tr:nth-child(3) .table_topic {
    padding-left: 50px;
}

.table_topic p {
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
}

.table_topic p::after {
    width: 45px;
    height: 1px;
    content: "";
    background-color: #fff;
    margin-top: 16px;
    display: block;
}

.table_topic h4 {
    margin-top: 30px;
    font-family: 'Noto Serif KR', serif;
    font-size: 30px;
    color: #fff;
}

.table_topic span {
    margin-top: 20px;
    font-size: 1.5em;
    letter-spacing: 1px;
    line-height: 30px;
    font-weight: 300;
    color: #fff;
}

.button {
    margin-top: 30px;
}

.table_topic button {
    margin-bottom: 10px;
    width: 170px;
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    font-size: 1.2em;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1.5px;
    color: #fff;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0);
    transition: background .3s linear;
}

.table_topic button:hover {
    background: #023e8a;
    border: none;
}

.section3_table tr:nth-child(3) .table_topic button {
    width: 230px;
    margin-right: 8px;
}

.section3_table tr:nth-child(3) .table_topic .video {
    width: 190px;
    background: #fff;
    color: #023e8a;
}

.table_topic .video i {
    margin-right: 8px;
}

.table_topic button i {
    margin-left: 8px;
}

.table_topic_first {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    padding: 40px 30px;
    width: 100%;
    height: 100%;
}

.table_topic_first p {
    font-size: 1.3em;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1.5px;
    color: #fff;
    font-weight: lighter;
    text-align: center;
}

.table_topic_first p::before {
    width: 35px;
    height: 1px;
    content: "";
    background-color: rgba(255, 255, 255, 0.3);
    margin-right: 15px;
    display: inline-block;
}

.table_topic_first p::after {
    width: 35px;
    height: 1px;
    content: "";
    background-color: rgba(255, 255, 255, 0.3);
    margin-left: 15px;
    display: inline-block;
}

.section3_table .shuffle {
    width: 100%;
    height: 40%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 1.2em;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1.5px;
    color: #fff;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0);
    transition: background .3s linear, border .3s linear;
}

.section3_table .shuffle:hover {
    background: #00366c;
    border: none;
}

.section3_table .shuffle:hover i {
    animation: rotateAnimation .6s infinite linear;
}

@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.section3_table .shuffle i {
    margin-right: 8px;
}

.topic_btn {
    width: 100%;
    height: 70px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 1.1em;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1.5px;
    color: #296ec5;
    font-weight: bold;
    background: #fff;
    transition: color .3s linear;
    line-height: 70px;
    text-align: center;
}

.topic_btn:hover {
    color: #000;
}

.topic_btn i {
    float: right;
    margin-right: 10px;
    line-height: 70px;
}

.topic_menu .topic_options {
    position: absolute;
    padding-bottom: 20px;
    background: #f8f8f8;
    display: none;
}

.topic_menu.active .topic_options {
    display: block;
}

.topic_menu.active .topic_btn {
    box-shadow: 5px 5px 10px rgba(100, 100, 100, 0.5);
}

.topic_menu {
    position: relative;
}

.topic_menu .topic_option {
    display: block;
    cursor: pointer;
    align-items: center;
    padding: 10px 18px 0px 18px;
    background: #fff;
    transition: all 0.2s;
    font-size: 1.3em;
}

.topic_menu .topic_options .topic_option::after {
    display: block;
    width: 100%;
    height: 1px;
    opacity: 0.8;
    margin-top: 10px;
    background-color: #ccc;
    content: "";
}

.topic_menu .topic_options .topic_option:last-child::after {
    content: none;
}

.topic_menu .topic_option .topic_option_text {
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'Noto Serif KR', serif;
    color: #000;
}

/* Footer */

footer {
    position: relative;
    top: 180px;
    background: #232122;
}

.footer_row {
    display: flex;
    flex-direction: column;
    padding: 80px 10px;
}

.footer_body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer_body {
    border-bottom: 1px solid rgba(149, 141, 143, 0.4);
}

.footer_list h2 {
    font-size: 1.2em;
    color: #74a8f8;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-weight: bold;
}

.footer_list h2::after {
    width: 45px;
    height: 1px;
    content: "";
    background-color: #74a8f8;
    margin-top: 16px;
    display: block;
}

.footer_list_box {
    padding-bottom: 25px;
}

.footer_list ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px 0;
}

.footer_list ul li {
    margin-bottom: 25px;
}

.footer_list ul a {
    font-size: 1.5em;
    color: #fff;
    font-family: 'Noto Serif KR', serif;
    transition: color .2s linear;
}

.footer_list ul a:hover {
    color: #958d86;
}

.footer_insta {
    display: flex;
    flex-direction: column;
    opacity: 0.9;
    transition: opacity 0.3s;
}

.footer_insta img {
    width: 100%;
}

.footer_insta:hover {
    opacity: 0.7
}

.footer_insta:visited {
    opacity: 0.7
}

.footer_insta span {
    width: 100%;
    position: relative;
    top: -50px;
    font-size: 1.2em;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    font-weight: 700;
    text-shadow: -1px -1px 2px #000, 1px 1px 2px #000, -1px -1px 1px rgb(0 0 0 / 70%), 1px 1px 1px rgb(0 0 0 / 70%);
}


.footer_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 25px;
}

.footer_copyright span {
    font-family: 'Noto Serif KR', serif;
    color: #958d86;
}

.footer_copyright span::after {
    content: "";
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    margin: 0 8px;
    background-color: #958d86;
    transform: translateY(-60%);
}

.footer_copyright span:last-child {
    color: #fff;
}

.footer_copyright span:last-child::after {
    display: none;
}

.footer_sns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer_sns span {
    color: #fff;
    font-size: 1.2em;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-left: 10px;
}

.footer_sns div>i {
    color: #fff;
    font-size: 1.6em;
    padding: 0 5px;
}

/* 반응형 */

@media screen and (max-width: 499px) {

    .header_row,
    .section_row,
    .news_row,
    .section3_row,
    .footer_row {
        width: 300px;
    }

    .bg_img {
        width: 600px;
        height: 400px;
        background-image: url("../images/cross-campus-feature_0\ \(1\).webp");
        background-repeat: no-repeat;
        background-size: contain;
    }

    .bg_gray {
        top: 250px;
        left: 100px;
        width: 300px;
        height: 300px;
    }

    .main_nav ul>li>a {
        width: 270px;
    }

    .nav_bg {
        width: 500px;
    }

    .section2 {
        position: relative;
        top: 130px;
    }

    .main_nav>ul {
        width: 500px;
    }


    .article_box {
        top: 270px;
        left: 15px;
    }

    .news_article img {
        width: 100%;
    }

    .news_btn {
        width: 230px;
    }

    .footer_copyright span {
        display: block;
    }

    .footer_copyright span::after {
        display: none;
    }

    .footer_sns {
        display: flex;
        flex-direction: column;
    }

    .footer_sns span {
        width: 280px;
        margin-top: 20px;
    }

    .news_list {
        width: 300px;
        padding-left: 0;
    }

    .news_list {
        margin-top: 150px;
        width: 300px;
    }

    .news_explore {
        position: relative;
        top: 450px;
    }

    .news_menu .news_options {
        width: 230px;
    }

    .footer_copyright span {
        font-size: 1.4em;
        line-height: 1.9em;
    }

    .footer_list ul {
        width: 300px;
    }

}

@media screen and (min-width:500px) and (max-width: 739px) {
    .bg_img {
        width: 500px;
        height: 500px;
        margin: 0;
        background-image: url("../images/cross-campus-feature_0\ \(1\).webp");
        background-repeat: no-repeat;
        background-size: contain;
    }

    .bg_gray {
        top: 250px;
        left: 100px;
        width: 450px;
        height: 260px;
    }

    .main_nav ul>li>a {
        width: 440px;
    }

    .nav_bg {
        width: 100%;
    }

    .main_nav>ul {
        width: 100%;
    }

    .article_box {
        top: 280px;
        left: 40px;
    }

    .news_article img {
        width: 500px;
    }

    .news_btn {
        width: 400px;
    }

    .footer_sns span {
        width: 200px;
    }

    .news_header {
        width: 480px;
    }

    .news_list {
        margin-top: 140px;
        width: 480px;
    }

    .news_explore {
        position: relative;
        top: 515px;
    }

    .news_menu .news_options {
        width: 400px;
    }

    .footer_sns span {
        width: 200px;
    }

    .footer_copyright {
        text-align: center;
    }

    .footer_info {
        width: 480px;
    }

    .footer_copyright span {
        font-size: 1.5em;
        line-height: 1.9em;
    }

}

@media screen and (max-width: 739px) {

    .search_btn span,
    .main_nav_button p {
        display: none;
    }

    .sub_nav,
    .select_menu,
    .go_btn,
    .footer_insta {
        display: none;
    }

    .header_main_logo img {
        width: 105px;
        height: 47px;
    }

    .nav_bg {
        height: 130px;
    }

    .main_nav>ul {
        top: 130px;
    }

    .search_bar {
        margin-top: 30px;
        border: 1px solid #ddd;
        width: 100%;
        height: 60px;
        padding: 17px 20px;
    }

    .search_bar form input[type="text"] {
        width: 330px;
        height: 25px;
        font-size: .9em;
    }

    .section1 {
        margin-top: -120px;
    }

    .news_header {
        display: flex;
        flex-direction: column;
    }

    .news_header h2 {
        font-size: 1.8em;
    }

    .news_body {
        display: flex;
        flex-direction: column;
        margin-top: -70px;
    }



    .news_list_box:nth-child(3),
    .news_list_box:nth-child(4) {
        display: none;
    }

    .footer_list_box:last-child {
        display: none;
    }

    .footer_list ul {
        display: flex;
        flex-direction: column;
    }

    .footer_list ul li:nth-child(10),
    .footer_list ul li:nth-child(11) {
        display: none;
    }

    .footer_copyright span:nth-child(2)::after {
        display: none;
    }

}

@media screen and (min-width: 740px) and (max-width: 979px) {
    .news_body {
        margin-top: -10px;
    }

    .news_menu .news_options {
        width: 220px;
    }

    .nav_bg {
        height: 170px;
    }

    .nav_bg {
        width: 100%;
    }

    .main_nav>ul {
        width: 100%;
    }

    .main_nav ul>li>a {
        width: 650px;
    }

    .main_nav>ul {
        top: 170px;
    }

    .footer_sns span {
        width: 200px;
    }

    .footer_copyright {
        text-align: center;
    }

    .footer_copyright span {
        font-size: 1.5em;
        line-height: 1.9em;
    }
}

@media screen and (max-width: 979px) {

    .sub_nav,
    .select_menu,
    .go_btn,
    .footer_insta {
        display: none;
    }

    header {
        padding-top: 30px;
        transition: background .4s linear;
    }

    .header_main_logo {
        z-index: 10;
    }

    header .header_main_logo img {
        transition: all .1s;
        transition-delay: 1s;
    }

    header.active .header_main_logo img {
        filter: invert(100%) sepia(0%) saturate(7497%) hue-rotate(76deg) brightness(101%) contrast(92%);
        transition-delay: 0s;
    }

    .section1.active {
        margin-top: -20px;
    }

    .nav_bg {
        background: #00366c;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9;
        opacity: 0;
        visibility: hidden;
        transition: all .2s linear;
        transition-delay: 1s;
    }

    header.active>.nav_bg {
        opacity: 1;
        visibility: visible;
        transition: all .1s;

    }

    .main_nav_button {
        display: block;
        margin-left: 10px;
        width: 50px;
        height: 45px;
        background: #00366c;
        color: #fff;
        font-size: 1.1em;
        text-transform: uppercase;
        font-family: 'Lato', sans-serif;
        letter-spacing: 2px;
        font-weight: bold;
        z-index: 10;
    }

    .main_nav_button.active {
        background: #296ec5;
    }

    .main_nav_button.active .fa-solid.fa-x {
        display: inline;
    }

    .main_nav_button.active .fa-solid.fa-bars {
        display: none;
    }

    .main_nav {
        background: #00366c;
    }

    .main_nav_title:last-child {
        padding: 10px 19px;
    }

    .main_nav_title:hover>ul {
        border: none;
    }

    .main_nav_title ul li {
        display: none;
    }

    .main_nav.active>ul {
        transform: translateY(0);
        visibility: visible;
    }

    .main_nav>ul {
        display: flex;
        flex-direction: column;
        height: 500px;
        z-index: 3;
        background: #00366c;
        position: absolute;
        left: 0;
        visibility: hidden;
        transform: translateY(-100%);
        transition: all .4s ease;
        transition-delay: .4s;
    }

    .main_nav_title:hover {
        border: none;
        border-left: none;
    }

    .main_nav ul>li>a {
        color: #fff;
        display: block;
        margin: 0 auto;
    }

    .main_nav ul>li {
        height: 60px;
        transition: background .5s linear;
    }

    .main_nav ul>li:hover {
        background: rgba(100, 100, 100, 0.5);
    }

    .main_nav ul>li>a::before {
        width: 100%;
        height: 1px;
        content: "";
        background: rgba(222, 222, 222, 0.1);
        display: block;
        margin-bottom: 15px;
        margin-top: -10px;
    }


    .article_box p {
        display: none;
    }

    .news_explore {
        display: flex;
        flex-direction: column;
    }

    .section3 {
        display: none;
    }


    .footer_info {
        display: flex;
        flex-direction: column-reverse;
    }

    .footer_sns div>i {
        font-size: 3em;
        line-height: 1.5em;
    }

    .footer_sns span {
        margin-bottom: 15px;
        display: inline-block;
        font-weight: bold;
        height: 50px;
        text-align: center;
        line-height: 50px;
        background-color: #495057;
    }

    .footer_sns span>i {
        padding: 0 5px;
    }

    .footer_sns>i {
        font-size: 2em;
        padding-right: 10px;
        line-height: 50px;
    }
}


@media screen and (min-width: 500px) {

    .header_row,
    .section_row,
    .news_row,
    .section3_row,
    .footer_row {
        width: 480px;
    }

    .footer_list ul {
        width: 480px;
    }

}

@media screen and (min-width: 740px) {

    .header_row,
    .section_row,
    .news_row,
    .footer_row,
    .section3_row {
        width: 720px;
    }

    .search_btn,
    .main_nav_button {
        margin-top: 30px;
    }

    .main_nav_button {
        width: 160px;
    }

    .main_nav_button p {
        display: inline;
    }

    .main_nav_button i {
        margin-right: 5px;
    }

    .search_bar form input[type="text"] {
        width: 500px;
    }

    .bg_img {
        width: 100%;
        margin-right: 0;
        height: 750px;
        background-repeat: no-repeat;
        background-image: url("../images/cross-campus-feature_0.webp");
        background-size: contain;
    }

    .bg_gray {
        top: 390px;
        left: 150px;
        width: 600px;
        height: 300px;
        background: #f8f8f8;
        position: relative;
        margin-left: -100px;
    }

    .article_box {
        top: 450px;
        left: 100px;
    }

    .news_row {
        padding-top: 0;
    }

    .news_explore {
        position: relative;
        top: 460px;
    }

    .news_btn {
        width: 220px;
    }

    .news_article {
        width: 380px;
        margin-right: 40px;
    }

    .news_list_box:last-child {
        display: none;
    }

    .footer_list ul {
        width: 700px;
    }

    .footer_list ul li:nth-child(n+7) {
        margin-bottom: 0;
    }

    footer {
        top: 0;
    }

}


@media screen and (min-width: 980px) {

    .header_row,
    .section_row,
    .news_row,
    .footer_row,
    .section3_row {
        width: 960px;
    }

    header {
        padding-top: 90px;
    }

    .sub_nav,
    .select_menu,
    .go_btn {
        display: block;
    }

    .search_btn {
        margin-top: 0px;
    }

    .main_nav_button {
        display: none;
    }

    .search_bar form input[type="text"] {
        width: 650px;
    }

    .bg_img {
        width: 100%;
        height: 632px;
        margin-left: 300px;
        margin-right: 0px;
        float: right;
        background-repeat: no-repeat;
        position: relative;
        background-image: url("../images/commencement2019.webp");
    }

    .bg_gray {
        top: 70px;
        width: 600px;
        height: 510px;
        background: #f8f8f8;
        position: relative;
        margin-left: -100px;
    }

    .article_box {
        top: 150px;
    }

    .news_row {
        padding-top: 80px;
    }

    .news_article {
        width: 50%;
    }

    .article_box p {
        display: block;
        margin-top: 40px;
        font-size: 1.8em;
        font-family: 'Tajawal', sans-serif;
        line-height: 1.3;
        color: black;
    }

    .news_list {
        padding-left: 50px;
    }

    .news_btn {
        width: 170px;
    }

    .news_menu .news_options {
        width: 170px;
    }

    .section3_table tr:nth-child(1) td:nth-child(1) {
        display: block;
    }

    .footer_insta {
        width: 240px;
    }

    .footer_insta span {
        left: 20px;
    }

    .footer_list ul li {
        margin-right: 45px;
    }

    .footer_copyright span {
        font-size: 1.3em;
    }

    .section3_table td {
        height: 250px;
    }

    .topic_menu .topic_option {
        width: 170px;
    }

    .table_topic {
        padding-left: 30px;
    }

    .news_explore {
        position: static;
    }

    .news_explore p,
    .news_list_box:last-child,
    .section3,
    .footer_insta {
        display: block;
    }

    .footer_list ul a {
        font-size: 1.5em;
    }

    footer {
        top: 180px;
    }


}

@media screen and (min-width: 1220px) {

    .header_row,
    .section_row,
    .news_row,
    .footer_row,
    .section3_row {
        width: 1220px;
    }

    .main_nav_button {
        display: none;
    }

    .search_bar form input[type="text"] {
        width: 800px;
    }

    .bg_img {
        width: 1105px;
        height: 750px;
    }

    .bg_gray {
        top: 170px;
    }

    .article_box {
        top: 240px;
    }

    .news_list {
        padding-left: 150px;
    }

    .news_btn {
        width: 220px;
    }

    .news_menu .news_options {
        width: 220px;
    }

    .footer_insta {
        width: 310px;
    }

    .footer_insta span {
        left: 60px;
    }

    .footer_copyright span {
        font-size: 1.5em;
    }

    .section3_table td {
        height: 290px;
    }

    .topic_menu .topic_option {
        width: 235px;
    }

    .table_topic {
        padding-left: 80px;
    }

    .table_topic_title h4 {
        font-size: 26px;
    }

    .table_topic_title h5 {
        font-size: 16px;
    }

    .table_topic h4 {
        font-size: 38px;
    }
}